body {
    background: linear-gradient(to bottom right,rgba(241, 241, 225, 0.897), rgba(134, 74, 74, 0.37));
    width: 90% ;
    margin: 0 auto;
    max-width: 800px ;
}

h1 {
    text-transform: uppercase;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.icon {
    margin-top: 4.5em;
}

.icon a {
    text-decoration: none;
    display: inline-block;
}

.tableau {
    margin: 1em auto ;
    border: 2px solid rgb(121, 8, 8);
    border-radius: 10px;
    align-items: center;
}

h2 {
    color: white;
    background-color: brown;
    border-radius: 5px;
    margin: 30px 10px 10px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281) ;
    position: relative ;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 767px) {
    /* body {
        background-color: blue!important;
    } */
    #photo, #rubik {
        width: 60px ;
    }
}

#age:hover {
    cursor:pointer;
}

#close {
    padding: 0.5em;
    display: block;
    width: 30%;
    margin: 1em 35% 0.5em 35%; /*haut droit bas gauche */
}